@charset "UTF-8";
* {
    outline: none;
}

body,
html {
    margin: 0;
    background: #444F59;
    font-family: "Ubuntu", "微軟正黑體", sans-serif;
    letter-spacing: 0.65px;
    font-size: 15px;
    color: #555;
    cursor: default;
}

a {
    text-decoration: none;
    color: #555;
    display: block;
    transition-duration: 0.3s;
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    color: #3d405b;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
}

.resume {
    width: 1000px;
    background: #fbfbfb;
    margin: 20px auto 0px;
    border: 1px solid #bbb;
    position: relative;
    display: flex;
    border-bottom: none;
}

.resume::before {
    content: "";
    width: 100%;
    height: 6px;
    background: #FD999A;
    position: absolute;
    bottom: 0;
    left: 0;
}

.resume::after {
    content: "";
    display: block;
    clear: both;
}

.resume .base,
.resume .func {
    box-sizing: border-box;
    float: left;
}

.resume .base>div,
.resume .func>div {
    padding-bottom: 10px;
}

.resume .base>div:last-of-type,
.resume .func>div:last-of-type {
    padding-bottom: 0;
}

.resume .base {
    width: 230px;
    padding: 30px 15px;
    background: rgba(238, 238, 238, 0.6);
}

.resume .base .profile {
    background: #FD999A;
    padding: 30px 15px 5px 15px;
    margin: -30px -15px 45px -15px;
    position: relative;
    z-index: 2;
}

.resume .base .profile::after {
    content: "";
    position: absolute;
    background: #FD999A;
    width: 100%;
    height: 30px;
    bottom: -15px;
    left: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

.resume .base .profile .photo img {
    width: 55%;
    border-radius: 100%;
display:block;
 margin:auto;

}

.resume .base .profile .info {
    text-align: center;
    color: #fcfcfc;
}

.resume .base .profile .info .name {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: normal;
}

.resume .base .contact div {
    line-height: 24px;
}

.resume .base .contact div a:hover {
    color: #FEC8C9;
}

.resume .base .contact div a:hover span::after {
    width: 100%;
}

.resume .base .contact div:hover i {
    color: #FEC8C9;
}

.resume .base .contact div i {
    color: #FD999A;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 15px;
    transition-duration: 0.3s;
}

.resume .base .contact div span {
    position: relative;
}

.resume .base .contact div span::after {
    content: "";
    position: absolute;
    background: #FEC8C9;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    transition-duration: 0.3s;
}

.resume .base .follow .box {
    text-align: center;
    vertical-align: middle;
}

.resume .base .follow .box a {
    display: inline-block;
    vertical-align: text-bottom;
    width: calc(100%/3);
}

.resume .base .follow .box a:hover i {
    background: #FEC8C9;
    border-radius: 5px;
    transform: rotate(45deg) scale(0.8);
}

.resume .base .follow .box a:hover i::before {
    transform: rotate(-45deg) scale(1.5);
}

.resume .base .follow .box i {
    display: inline-block;
    font-size: 30px;
    background: #FD999A;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    color: #fcfcfc;
    margin: 0 10px 10px 0px;
    transition-duration: 0.3s;
}

.resume .base .follow .box i::before {
    transition-duration: 0.3s;
}

.resume .base .follow .box i.fa::before {
    display: block;
}

.resume .func {
    width: 700px;
    padding: 30px 25px;
}

.resume .func:hover>div {
    transition-duration: 0.3s;
}

.resume .func:hover>div:hover h3 {
    letter-spacing: 1.6px;
}

.resume .func:hover>div:hover h3 i {
    transform: scale(1.2);
}

.resume .func:hover>div:not(:hover),.food:hover >:not(:hover) {
    opacity: 0.5;
}

.resume .func h3 {
    transition-duration: 0.3s;
    margin-top: 0;
}

.resume .func h3 i {
    color: #fcfcfc;
    background: #FD999A;
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;
    transition-duration: 0.3s;
}

.resume .func .work,
.resume .func .extr,
.resume .func .edu {
    float: left;
}

.resume .func .work small,
.resume .func .extr small,
.resume .func .edu small {
    display: block;
    opacity: 0.7;
}

.resume .func .work ul li,
.resume .func .extr ul li,
.resume .func .edu ul li {
    position: relative;
    margin-left: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}

.resume .func .work ul li:hover::before,
.resume .func .extr ul li:hover::before,
.resume .func .edu ul li:hover::before {
    animation: circle 1.2s infinite;
}

.resume .func .work ul li:hover span,
.resume .func .extr ul li:hover span,
.resume .func .edu ul li:hover span {
    color: #FEC8C9;
}

@keyframes circle {
    from {
        box-shadow: 0 0 0 0px #3d405b;
    }
    to {
        box-shadow: 0 0 0 6px rgba(61, 64, 91, 0);
    }
}

.resume .func .work ul li:first-of-type::before,
.resume .func .extr ul li:first-of-type::before,
.resume .func .edu ul li:first-of-type::before {
    width: 10px;
    height: 10px;
    left: -2px;
}

.resume .func .work ul li:last-of-type,
.resume .func .extr ul li:last-of-type,
.resume .func .edu ul li:last-of-type {
    padding-bottom: 3px;
}

.resume .func .work ul li:last-of-type::after,
.resume .func .extr ul li:last-of-type::after,
.resume .func .edu ul li:last-of-type::after {
    border-radius: 1.5px;
}

.resume .func .work ul li::before,
.resume .func .work ul li::after,
.resume .func .extr ul li::before,
.resume .func .extr ul li::after,
.resume .func .edu ul li::before,
.resume .func .edu ul li::after {
    content: "";
    display: block;
    position: absolute;
}

.resume .func .work ul li::before,
.resume .func .extr ul li::before,
.resume .func .edu ul li::before {
    width: 7px;
    height: 7px;
    border: 3px solid #3d405b;
    background: #fcfcfc;
    border-radius: 50%;
    left: 0;
    z-index: 1;
}

.resume .func .work ul li::after,
.resume .func .extr ul li::after,
.resume .func .edu ul li::after {
    width: 3px;
    height: 100%;
    background: #3d405b;
    left: 5px;
    top: 0;
}

.resume .func .work ul li span,
.resume .func .extr ul li span,
.resume .func .edu ul li span {
    transition-duration: 0.3s;
}

.resume .func .edu {
    width: 42%;
}

.resume .func .work {}

.resume .func .extr {
    width: 58%;
}

.resume .func .skills-prog {
    clear: both;
}

.resume .func .skills-prog ul {
    margin-left: 15px;
}

.resume .func .skills-prog ul li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    transition-duration: 0.3s;
}

.resume .func .skills-prog ul li:hover {
    color: #FEC8C9;
}

.resume .func .skills-prog ul li:hover .skills-bar .bar {
    background: #FEC8C9;
    box-shadow: 0 0 0 1px #FEC8C9;
}

.resume .func .skills-prog ul li span {
    display: block;
    width: 120px;
}

.resume .func .skills-prog ul li .skills-bar {
    background: #cdcdcd;
    height: 2px;
    width: calc(100% - 120px);
    position: relative;
    border-radius: 2px;
}

.resume .func .skills-prog ul li .skills-bar .bar {
    position: absolute;
    top: -1px;
    height: 4px;
    background: #FD999A;
    box-shadow: 0 0 0 #FD999A;
    border-radius: 5px;
}

.resume .func .skills-soft ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.resume .func .skills-soft ul li {
    position: relative;
}

.resume .func .skills-soft ul li:hover svg .cbar {
    stroke: #FEC8C9;
    stroke-width: 4px;
}

.resume .func .skills-soft ul li:hover span,
.resume .func .skills-soft ul li:hover small {
    transform: scale(1.2);
}

.resume .func .skills-soft ul li svg {
    width: 95%;
    fill: transparent;
    transform: rotate(-90deg);
}

.resume .func .skills-soft ul li svg circle {
    stroke-width: 1px;
    stroke: #cdcdcd;
}

.resume .func .skills-soft ul li svg .cbar {
    stroke-width: 3px;
    stroke: #FD999A;
    stroke-linecap: round;
}

.resume .func .skills-soft ul li span,
.resume .func .skills-soft ul li small {
    position: absolute;
    display: block;
    width: 100%;
    top: 52%;
    transition-duration: 0.3s;
}

.resume .func .skills-soft ul li span {
    top: 40%;
}


.cookie{

      margin-bottom: 12%;
}

.food {

background: white;

width: 1000px;

margin: 20px auto 20px;

border: 1px solid #bbb;

border-top: 1px solid #0000;
}

.food h3 {
    transition-duration: 0.3s;
    margin-top: 66px;
    margin-left: 38%;
}

.food h3 i {
    color: #fcfcfc;
    background: #FD999A;
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;
    transition-duration: 0.3s;
}

.ry {
    margin-top: 40px;
    position: relative;
    background: #FEC8C9;
    width: 380px;
    height: 50px;
    margin-left: calc(50% - 190px);
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    transition-duration: 0.3s;
    line-height: 50px;
}

.pics {
    position: relative;
    width:35%;
    height: 35%;
    margin-left: 10%;
    margin-top: 20px;
}
.pics img {
    position: absolute;
    width: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.pics2 {
    position: relative;
    width:35%;
    height: 35%;
    margin-left: 10%;
    margin-top: 20px;
}
.pics2 img {
    position: absolute;
    width: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.pics img:last-child:hover {
    opacity: 0;
}
.MD {
    position: relative;
    font-size: 14px;
    margin-left:48%;
    margin-top:40px;
}
.MD h3 {
    margin: 0px;
    text-align: left;
}

.food  .website {
    line-height: 24px;
}

.food  .website a:hover {
    color: #FEC8C9;
}

.food .website a:hover span::after {
    width: 100%;
}

.food .website:hover i {
    color: #FEC8C9;
}

.food  .website i {
    color: #FD999A;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 15px;
    transition-duration: 0.3s;
}


.food .cookie:hover>div {
    transition-duration: 0.3s;
}

.food .cookie:hover>div:hover h3 {
    letter-spacing: 1.6px;
}
.food .cookie:hover>div:hover .ry {
    letter-spacing: 1.6px;
}
.food .cookie:hover>div:hover h3 i {
    transform: scale(1.2);
}

.food .paper:hover>div {
    transition-duration: 0.3s;
}

.food .paper:hover>div:hover .ry
    letter-spacing: 1.6px;
}

.food .paper:hover>div:hover .ry i {
    transform: scale(1.2);
}

.ryy {
    margin-top: 140px;
    position: relative;
    background: #FEC8C9;
    width: 380px;
    height: 50px;
    margin-left: calc(50% - 190px);
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    transition-duration: 0.3s;
    line-height: 50px;
}
.picss {
    position: relative;
    width:43%;
    height: 43%;
    margin-left: 4%;
    margin-top: 20px;
}
.picss img {
    position: absolute;
    width: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.picss img:last-child:hover {
    opacity: 0;
}

.MDRY {
    position: relative;
    font-size: 14px;
    margin-left:48%;
    margin-top:40px;
}
.MDRY h3 {
    margin: 0px;
    text-align: left;
}
.food .paper:hover>div {
    transition-duration: 0.3s;
}

.food .paper:hover>div:hover h3 {
    letter-spacing: 1.6px;
}

.food .paper:hover>div:hover h3 i {
    transform: scale(1.2);
}

.food .paper:hover>div {
    transition-duration: 0.3s;
}

.food .paper:hover>div:hover .ry {
    letter-spacing: 1.6px;
}
.food .paper:hover>div:hover .ryy {
    letter-spacing: 1.6px;
}
.food .paper:hover>div:hover .ry{
    transform: scale(1.2);
}

.continue {
    position: relative;
    font-size: 14px;
    margin-left:45%;
    margin-top:130px;
}